<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      <p class="logo"><i class="fa fa-user">&nbsp;</i>Farzan Mirza</p>
      <a href="#" class="icon-a"
        ><i class="fa fa-dashboard icons"></i> Notifications</a>
      <hr />
      <a href="#" class="icon-a"><i class="fa fa-users icons"></i> Customers</a>
      <a href="#" class="icon-a"><i class="fa fa-list icons"></i> Projects</a>
      <a href="#" class="icon-a"><i class="fa fa-list-alt icons"></i> Tasks</a>
      <hr />
      <p class="logo"><i class="fa fa-user">&nbsp;</i>Home</p>
      <a href="#" class="icon-a"
        ><i class="fa fa-dashboard icons"></i>
        Production</a
      >
      <hr />
      <a href="#" class="icon-a"><i class="fa fa-users icons"></i> Dying</a>
      <a href="#" class="icon-a"><i class="fa fa-list icons"></i> Finishing</a>
      <a href="#" class="icon-a"
        ><i class="fa fa-list-alt icons"></i> Crusting</a
      >
      <p class="logo"><i class="fa fa-user mb-3">&nbsp;</i>Reports</p>
      <p class="logo"><i class="fa fa-user mb-3">&nbsp;</i>Planning</p>
      <p class="logo"><i class="fa fa-user mb-3">&nbsp;</i>Finances</p>
      <hr />
      <p class="logo"><i class="fa fa-user mb-5"></i>See More</p>
    </div>

    <div id="main">
      <div class="topnav">
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search" />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <div>
        <div class="col-div-6 ml-2">
          <span
            style="font-size: 30px; cursor: pointer; color: white"
            class="nav mt-3"
            ><b>Tasks</b></span
          >
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="clearfix"></div>
      <br />

      <div class="col-div-3">
        <div class="box">
          <i class="fa fa-light fa-arrow-left mr-5" style="font-size: 30px; color: white;"></i> 
          <a href="#" class="icon-a"
            >
            <p class="mr-5">Daily</p></a
          >
          <a href="#" class="icon-a ml-5"
            >
            <p class="mr-5">Pending</p></a
          >
          <a href="#" class="icon-a ml-5"
            >
            <p>Monthly</p></a
          >
          <i class="fa fa-regular fa-arrow-right ml-5" style="font-size: 30px; color: white;"></i>
        </div>
      </div>
      
      <div class="clearfix"></div>
      <br />
      <div class="col-div-8">
        <div class="box-8">
          <div class="content-box"></div>
        </div>
      </div>
      <div class="col-div-4">
        <div class="box-4"></div>
      </div>
      <div class="col-div-8 mt-4">
        <div class="box-8"></div>
      </div>

      <div class="col-div-4 mt-4">
        <div class="box-4">
          <div class="content-box"></div>
        </div>
      </div>
    </div>
  </body>
</html>
